# Editors & tools

## Vim
*.swp

## Sublime text
*.sublime-*

!gfs.sublime-project

## RemedyBG
*.rdbg

## Clangd
.cache/
compile_commands.json

## VS 2022 related things
.vs/
out/

## VS Code
.vscode/

# Build artefacts
*.obj
*.exe
[Bb]uild/
