# Editors & tools

## Vim
*.swp

## Sublime text
*.sublime-*
!*.sublime-project

## RemedyBG
*.rdbg

## Clangd
.cache/
compile_commands.json

## VS 2022 related things
.vs/
out/

## VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Emacs
\#*#

# Build artefacts
*.obj
*.exe
[Bb]uild/

# Documentation

## Doxygen
docs/doxygen/generated

## Sphinx
docs/sphinx/build
docs/sphinx/source/api

# Python
__pycache__
*.egg-info

## Virtual environment
venv
.venv

venv-*
.venv-*
